<ion-view view-title="Add Plan">


 <ion-nav-bar class="bar-stable">
      
      </ion-nav-bar>

          <ion-nav-buttons side="left">
    
              <button class="button button-icon button-clear ion-android-arrow-back" ng-click="back_list_plan()">
              </button>
  
          </ion-nav-buttons>
  <ion-content padding="true">

    <form ng-submit="add_new_plan()">

       
  	   

        

        <label class="item item-input">
          <input type="text" placeholder="Plan Name" maxlength="30" data-ng-minLength="1" ng-model="Plan.Data.Name">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Speed" maxlength="20" data-ng-minLength="1" ng-model="Plan.Data.Speed">
        </label>


        <label class="item item-input">
          <input type="text" placeholder="Duration" maxlength="20" data-ng-minLength="1" ng-model="Plan.Data.Duration">
        </label>

        <label class="item item-input">
          <input type="number" placeholder="Price" maxlength="10" data-ng-minLength="1" ng-model="Plan.Data.Price">
        </label>


        <label class="item item-input">
          <input type="number" placeholder="Radius Plan Id" maxlength="8" data-ng-minLength="1" ng-model="Plan.Data.RadiusPlanId">
        </label>

      
        
      
      <br>
  	     <button class="button button-block button-positive" type="submit" style="background-color: #0074ce;">
  		     Submit
	       </button>
	      
    </form>
  </ion-content>
</ion-view>