 
 <ion-view view-title="Manage Admin" cache-view="false" hide-back-button="true" ng-init="GetUsers()">

  <ion-nav-bar class="bar-stable">
      
      </ion-nav-bar>
 
       <ion-nav-buttons side="right">
    

     
   
      <i class="ion-plus" ng-click="add_new_user()" style="float: right; color:#f8f8f8; width:31px; font-size: 34px;"></i>
     
          </ion-nav-buttons>


          <ion-nav-buttons side="left">
    
              <button class="button button-icon button-clear ion-android-arrow-back" ng-click="back_notification()">
              </button>
  
          </ion-nav-buttons>

<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" nav-transition="none" href="#customer_list">
       Customer
      </a>
      <a class="tab-item active" nav-transition="none" href="#admin_list">
       Admin
      </a>
      <a class="tab-item" nav-transition="none" href="#tech_list">
       Technician
      </a>
      <a class="tab-item" nav-transition="none" href="#vendor_list">
       Vendor
      </a>
    </div>
</div>      
         
     <ion-content padding="true"  style="color: #000;">
      <br><br><br>
      <div ng-repeat="data in userlist" ng-if="data.Role.Name=='Admin'">
      <div class="card">
      <p>&nbsp;&nbsp;{{data.Name}}<span style="float: right;"><i class="ion-edit" ng-click="profile_client(data.UserId.Id, data.Role.Name)"></i>&nbsp;&nbsp;&nbsp;<i class="ion-trash-a" ng-click="showConfirm(data.UserId.Id)"></i>&nbsp;</span></p>
      <p>&nbsp;&nbsp;{{data.Email}}</p>
      </div>
      
      </div>

      



       



  </ion-content>
</ion-view>
