<ion-view view-title="Admin Complain">
  <ion-content padding="true">
 
    <form ng-submit="admincomplain()">


        <div class="card">
          <p>&nbsp;&nbsp;Ronni Desouza</p>
          <p>&nbsp;&nbsp;A-123, Fenni Street</p>
          <p>&nbsp;&nbsp;Anand-388001</p>
          <p>&nbsp;&nbsp;Assets</p>
          <p>&nbsp;&nbsp;Due to heavy wind device break down</p>
         <center><img width="300" height="100" src="img/3.jpeg"></center>
        </div>

        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date" ng-model="admincomplain.date">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Assign to
          </div>
          <select ng-model="admincomplain.assign">
            <!-- <option>Select Product</option> -->
            <option>Tech 1</option>
            <option>Tech 2</option>
            <option>Tech 3</option>
            <option>Tech 4</option>
          </select>
        </label>

        <label class="item item-input item-floating-label">
          <textarea placeholder="Description" ng-model="admincomplain.description" style="margin-left: -10px;">
          </textarea>
          <span class="input-label" style="color: #0074ce;">Description by Admin</span>
        </label>

 	      <label class="item">
  	     <button class="button button-block button-positive" type="submit" style="background-color: #444444;">
  		    Submit
	       </button>
	      </label>
    </form>
  </ion-content>
</ion-view>