 
 <ion-view view-title="Payment Details" cache-view="false" hide-back-button="true" ng-init="GetCompletePayments()">
 

   <ion-nav-bar class="bar-stable">
      
      </ion-nav-bar>

          <ion-nav-buttons side="left">
    
              <button class="button button-icon button-clear ion-android-arrow-back" ng-click="back_notification()">
              </button>
  
          </ion-nav-buttons>



<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" nav-transition="none" href="#pending_payment">
       Pending
      </a>
      <a class="tab-item active" nav-transition="none" href="#complete_payment">
      Complete
      </a>
    </div>
</div>      
         
     <ion-content padding="true" style="color: #000;">
      <br><br><br>
      
    
      <a class="item item-icon-right" ng-repeat="data in CompletePaymentList" ng-click="PaymentDetail(data.Id)">
        {{data.InvoiceId.UserId.ContactId.Name}}
        <p ng-show="Complain_id">{{data.Id}}</p>
        <i class="icon ion-arrow-right-b"></i> 
      </a>
   
   
      <center><p style="color:red;" ng-show="error">No Complain Found</p></center>
    </ion-content>
</ion-view>
