<ion-view view-title="Complain Catagory">
  <ion-content padding="true">
 
    <form ng-submit="Add_Category()">
 	      <label class="item item-input">
  		    <input type="text" placeholder="Complain Catagory Name" maxlength="30" data-ng-minLength="1" ng-model="Catagory.Data.Name">
  	    </label>
 	      <br>
  	      <button class="button button-block button-positive" type="submit" style="background-color: #0074ce;">
  		    Add
	        </button>
	     
    </form>
  </ion-content>
</ion-view>
