<ion-view view-title="Complain" ng-init="ComplainDetailPagePending()">


 <ion-nav-bar class="bar-stable">
      
      </ion-nav-bar>

          <ion-nav-buttons side="left">
    
              <button class="button button-icon button-clear ion-android-arrow-back" ng-click="goBack()">
              </button>
  
          </ion-nav-buttons>
  <ion-content padding="true">

  <form ng-submit= "Update_Status(ComplainId, statusId)">

   <p ng-show="sss">{{ComplainId}}</p>
   <div class="card">
   <p><b>Customer Name</b></p>
    <p>{{CustomerName}}</p>
   </div>

  <div class="card">
   <p><b>Customer Address</b></p>
    <p>{{Street1}}, {{Street2}}</p>
    <p>{{City}}-{{ZipCode}}</p>
   </div> 
  
    <div class="card">
   <p><b>Category</b></p>
    <p>{{Category}}</p>
   </div> 

    <div class="card">
   <p><b>Description</b></p>
    <p>{{Description}}</p>
   </div> 

     <div class="card">
     <p><b>Complain Register Date</b></p>
      <p>{{RegisterDate |  date : d/MMMM/yyyy}}</p>
     </div>


    <div class="card" ng-hide="ImgTag">
    <p><b>Attachment</b></p>
    <img src="http://cssent.com/demo/bk/uploads/{{Image}}" ng-click="openModal()" width="100" height="100%"> 
    </div>

  
       <label class="item item-input item-select" ng-hide="StatusBox">
        <div class="input-label">
          Change Status
        </div>
        <select ng-model="statusId">
        <option>In Progress</option>
        <option>Complete</option>
        <option>Final Complete</option>
       </select>
       </label>   
        
        
      <label class="item" ng-hide="ButtonBox">
        <button class="button button-block button-positive" type="submit">
          Submit
        </button>
      </label>
      
     </form>  
  </ion-content>
</ion-view>