<ion-view view-title="Your Complain" ng-init="GetUserComplains()">
  <ion-content>
 
   <br><br>
 <div ng-show="errordata">
      <div ng-repeat="data in ViewComplains">

      <p ng-show="p_id">{{data.Id}}</p>

     
      <div class="card">
      <p style="color:#444;"><span style="font-size: 15px;">&nbsp;&nbsp;{{data.CategoryId.Name}}</span><span style="float: right;" ng-if="data.StatusId.Name==='Complete'"><button class="button button-balanced" style="min-height: 0px;">
       {{data.StatusId.Name}}</button>&nbsp;&nbsp;</span>


       <span style="float: right;" ng-if="data.StatusId.Name==='Pending'"><button class="button button-assertive" style="min-height: 0px;">
       {{data.StatusId.Name}}</button>&nbsp;&nbsp;</span>

       <span style="float: right;" ng-if="data.StatusId.Name==='In Progress'"><button class="button button-calm" style="min-height: 0px;">
       {{data.StatusId.Name}}</button>&nbsp;&nbsp;</span>
       <br>
      <span style="color:rgba(68, 68, 68, 0.84); font-size: 12px;">&nbsp;&nbsp;{{data.Date | date : d/MMMM/yyyy}}</span></p>
      
      <p style="color:rgba(68, 68, 68, 0.84); font-size: 15px;">&nbsp;&nbsp;{{data.Description}}</p>
      </div>
     
      </div>
  </div>   

   <center>
    <p ng-show="errormsg" style="color:red;">No Complain Found</p>
  </center>
  </ion-content>
</ion-view>